@import "./../../../../../styles.scss";

.task-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  @include dFlex();
  flex-direction: column;
  z-index: 1000;

  h1 {
    @include font($ff: "Inter", $fs: clamp(36px, 7vw, 61px), $fw: 700);
    margin-bottom: 16px;
  }

  p {
    @include font($ff: "Inter", $fs: clamp(14px, 3vw, 20px), $fw: 400);
  }

  .task-overlay-content {
    position: relative;
    background: $white;
    padding: 32px;
    border-radius: 24px;
    width: 500px;
    height: 800px;

    @media (max-width: 580px) {
      width: 85%;
      height: 70%;
      padding: 24px;
    }

    @media (max-width: 480px) {
      height: 50%;
      padding: 16px;
    }


    .header {
      @include dFlex($jc: space-between);
      margin-bottom: 24px;

      @media (max-width: 580px) {
        margin-bottom: 12px;
      }

      .category {
        padding: 3px 20px;
        border-radius: 6px;
        background-color: $mint;
        color: $white;
        @include font($ff: "Inter", $fs: clamp(16px, 3vw, 23px), $fw: 400);
      }

      .close-btn {
        background: none;
        border: none;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
          background: $mid_gray;
        }
      }
    }

    .label {
      color: $blueish_gray;
    }

    .info,
    .assigned-to,
    .subtasks {
      margin-top: 16px;
    }

    .subtask,
    .assignee {
      margin-left: 16px;
    }

    .assignees {
      display: flex;
      flex-direction: column;

      .assignee {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 16px;

        .profile-pic {
          @include dFlex();
          width: 24px;
          height: 24px;
          border-radius: 50%;
          color: $white;
        }

        .assignee-name {
          @include font($ff: "Inter", $fs: clamp(14px, 3vw, 20px), $fw: 400);
        }
      }
    }

    .subtask {
      margin-top: 8px;
      border-radius: 16px;
      padding: 0px 8px; 
      line-height: 1.8; 

      img {
        position: relative;
        top: 6px;
      }

      &:hover {
        background-color: $mid_gray;
      }
    }

    .subtask-text {
      margin-left: 10px;
      @include font($ff: "Inter", $fs: clamp(12px, 3vw, 16px), $fw: 400);

    }

    .actions-buttons {
      @include dFlex($jc: flex-end);
      position: absolute;
      bottom: 32px;
      right: 32px;

      button {
        color: $black;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        background: none;
        @include font($ff: "Inter", $fs: clamp(14px, 3vw, 20px), $fw: 400);

        &:hover {
          color: $light_blue;

          img {
            filter: invert(56%) sepia(34%) saturate(507%) hue-rotate(165deg)
              brightness(98%) contrast(95%);
          }
        }
      }

      .divider {
        width: 1px;
        height: 26px;
        background-color: $mid_gray;
      }

      img {
        position: relative;
        top: 4px;
      }
    }
  }
}
