<section>
  <div class="task-overlay">
    <div class="task-overlay-content">
      <div class="header">
        <span class="category">Technical Task</span>
        <button class="close-btn">
          <img src="assets/img/icons/close.svg" alt="Close" />
        </button>
      </div>

      <h1>CSS Architecture Planning</h1>
      <p class="description">Define CSS naming conventions and structure.</p>

      <div class="info">
        <p><span class="label">Due date:</span> <span class="value">19/02/2024</span></p>
        <br>
        <p><span class="label">Priority:</span> <span class="value">Medium</span> <span class="priority-icon"></span></p>
      </div>
      

      <div class="assigned-to">
        <p>Assigned To:</p>
        <div class="assignees">
          <div class="assignee">
            <img
              src="assets/img/icons/user_profile_initials.svg"
              alt="Profile Icon"
              class="profile-pic"
            />
            <p class="assignee-name">Sofia Müller</p>
          </div>
        </div>
      </div>

      <div class="subtasks">
        <p>Subtasks</p>
        <div class="subtask">
          <img
            src="assets/img/icons/check_button_checked.svg"
            alt="Completed Task"
          />
          <span class="subtask-text">Setup base styles</span>
        </div>
      </div>

      <div class="actions-buttons">
        <button class="delete-btn">
          <img src="assets/img/icons/trash_icon.svg" alt="Delete Icon" />
          Delete
        </button>
        <span class="divider"></span>
        <button class="edit-btn">
          <img src="assets/img/icons/pencil_icon.svg" alt="Edit Icon" />
          Edit
        </button>
      </div>
    </div>
  </div>
</section>
