@import './../../../styles.scss';


section {
    @include dFlex($jc: space-between);

    width: 100%;
    background-color: $white;
    border-bottom: inset;
    position: relative;

    >.header_left {

        background-color: $white;
        padding: 32px 64px;

        >h1 {
            @include font($fs: 20px, $fw: 400);

            background-color: $white;
        }
        
    }

    >.header_right {
        @include dFlex($jc: center);

        background-color: $white;
        
        >.help_link {
            height: 32px;
            width: 32px;
            background-image: url('./../../../assets/img/icons/help_button.svg');
            background-color: $white;
            margin-right: 32px;
            &:hover {
                transform: scale(1.1);
            }

        }

        >.initials_btn {
            @include dFlex($ai: center);

            height: 64px;
            width: 64px;
            border-radius: 50%;
            border: 3px solid black;
            background-color: $white;
            margin-right: 40px;

            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.1);
                cursor: pointer;
            }

            >p {
                @include font($fs: 32px, $fw: 500);

                background-color: transparent;
                color: $aqua;

                &:hover {
                    pointer-events: none;
                }
            } 
        }

        >.header_overlay {
            position: absolute;
            top: 84px;
            right: 40px;
            background-color: $dark_blue;
            border-radius: 20px 0 20px 20px;
            flex-direction: column;

            >.inner_overlay {
                @include dFlex($ai: start);

                flex-direction: column;
                padding: 16px 8px;

                >a {
                    padding: 16px 16px;
                    text-decoration: none;
                    color: $white;
                    width: 100%;

                    &:hover {
                        background-color: $button_hover_blue;
                    }
                }
            }

        
        }
    }
}

.d_none {
    display: none; 
}
