<section>
  <div class="header_left">
    <img class="responsive_header_logo" src="assets/img/icons/logo_desktop.svg" alt="">
    <h1>Kanban Project Management Tool</h1>
  </div>
  <div class="header_right">
    <a
      class="help_link"
      [ngClass]="{ active: navigationService.selectedItem === 6 }"
      (click)="selectItem(6)"
    ></a>

    <div (click)="toggleOverlay()" [class.open]="isOpen" class="initials_btn">
      <p>ID</p>
    </div>
    <div *ngIf="isOpen" (click)="closeOverlay()" class="toggleOff_container">
      <div
        id="overlay"
        [class.open]="isOpen"
        class="header_overlay"
        >
        <div class="inner_overlay">

          <a class="burger_help_link" 
          [ngClass]="{ active: navigationService.selectedItem === 6 }"
            (click)="selectItem(6)">Help</a>

          <a  [ngClass]="{ active: navigationService.selectedItem === 5 }"
              (click)="selectItem(5)">Legal Notice</a>

          <a [ngClass]="{ active: navigationService.selectedItem === 4 }"
            (click)="selectItem(4)">Privacy Policy</a>

          <a href="">Log out</a>
        </div>
      </div>
    </div>
  </div>
</section>
