<section>
    <h1>Legal Notice</h1>
  
    <div class="text-section">
      <h2>Imprint</h2>
      <ul>
        <li>[Student Names List]</li>
        <li>[Address of the JOIN operator - e.g. one of the students]</li>
        <li>[Postcode and city]</li>
      </ul>
    </div>
  
    <div class="text-section">
      <h3>Exploring the Board</h3>
      <p>Email: [Email]</p>
    </div>
  
    <div class="text-section">
      <h3>Acceptance of terms</h3>
      <p>By accessing and using <span>Join</span> (Product), you 
        acknowledge and agree to the following terms and conditions, 
        and any policies, guidelines, or amendments thereto that may 
        be presented to you from time to time. We, the listed 
        students, may update or change the terms and conditions 
        from time to time without notice.</p>
    </div>
  </section>
  