<section>
  <div class="header-section">
    <img class="logo" src="assets/img/join_logo.svg" alt="Logo" />
  </div>

  <div class="signUp-section">
    <a class="back-btn" (click)="linkLogin()"></a>
    <h1>Sign up</h1>
    <div class="border-blue"></div>
    <form #signUpForm="ngForm">
      <!-- Name Input -->
      <div 
        class="signUp-name"
        [ngClass]="{ 'input-focused': focusedInput === 'name', 'input-invalid': !isNameValid && signUpAttempted }"
      >
        <input
          type="text"
          id="signUp-name"
          name="name"
          placeholder="Name"
          (focus)="onFocus('name')"
          (blur)="onBlur()"
          (input)="validateField('name')"
          [(ngModel)]="name"
          #nameSignUp
        />
        <img src="assets/img/icons/person.svg" />
      </div>
      <!-- Name Error Message -->
      @if (!isNameValid && signUpAttempted) {
        <div class="error-message">
          <p>Name must be at least 3 characters long.</p>
        </div>
      }

      <!-- Email Input -->
      <div
        class="signUp-email"
        [ngClass]="{ 'input-focused': focusedInput === 'email', 'input-invalid': !isEmailValid && signUpAttempted }"
      >
        <input
          type="text"
          id="signUp-email"
          name="email"
          placeholder="Email"
          (focus)="onFocus('email')"
          (blur)="onBlur()"
          (input)="validateField('email')"
          [(ngModel)]="email"
          #emailSignUp
        />
        <img src="assets/img/icons/mail.svg" />
      </div>
      <!-- Email Error Message -->
      @if (!isEmailValid && signUpAttempted) {
        <div class="error-message">
          <p>Please enter a valid email address.</p>
        </div>
      }

      <!-- Password Input -->
      <div class="password-container">
        <div
          class="signUp-password"
          [ngClass]="{ 'input-focused': focusedInput === 'password', 'input-invalid': !isPasswordValid && signUpAttempted }"
        >
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="signUp-password"
            name="password"
            placeholder="Password"
            (focus)="onFocus('password')"
            (blur)="onBlur()"
            (input)="validateField('password')"
            [(ngModel)]="password"
            #pwSignUp
          />
          <img
            class="lock" 
            src="assets/img/icons/lock_icon.svg"
            [ngClass]="{ d_none: passwordFieldActive }" 
          />
          @if(passwordFieldActive) {
            <img
              class="visibility_off"
              src="assets/img/icons/visibility_off_icon.svg"
              [ngClass]="{ d_none: !isVisibility }"
              (click)="toggleVisibility()"
            />
            <img
              class="visibility_off"
              src="assets/img/icons/visibility_icon.svg"
              [ngClass]="{ d_none: isVisibility }"
              (click)="toggleVisibility()"
            />
          }
        </div>
        <!-- Password Error Message -->
        @if (!isPasswordValid && signUpAttempted) {
          <div class="error-message">
            <p>Password must be 6-20 characters, with 1 capital letter, 1 number, and 1 special character.</p>
          </div>
        }
      </div>

      <!-- Confirm Password Input -->
      <div class="confirm-password-container">
        <div
          class="confirm-password"
          [ngClass]="{ 'input-focused': focusedInput === 'confirm-password', 'input-invalid': !isPasswordEqual && signUpAttempted }"
        >
          <input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            id="confirm-password"
            name="confirm-password"
            placeholder="Confirm Password"
            (focus)="onFocus('confirm-password')"
            (blur)="onBlur()"
            (input)="validateField('confirm-password')"
            [(ngModel)]="confirmPassword"
            #pwConfirmSignUp
          />
          <img
            class="lock"
            src="assets/img/icons/lock_icon.svg"
            [ngClass]="{ d_none: confirmPasswordFieldActive }"
          />
          @if(confirmPasswordFieldActive) {
            <img
              class="visibility_off"
              src="assets/img/icons/visibility_off_icon.svg"
              [ngClass]="{ d_none: !isConfirmVisibility }"
              (click)="toggleConfirmVisibility()"
            />
            <img
              class="visibility_off"
              src="assets/img/icons/visibility_icon.svg"
              [ngClass]="{ d_none: isConfirmVisibility }"
              (click)="toggleConfirmVisibility()"
            />
          }
        </div>
        <!-- No error message under confirm password as per request -->
      </div>

      <!-- Policy Checkbox -->
      <div class="policy-checkbox-container">
        <input 
          type="checkbox"
          [(ngModel)]="acceptedPolicy"
          name="policy"
          #policyCheck="ngModel"
        />
        <div>
          <p>I accept the <span class="join-aqua" 
            [ngClass]="{ active: navigationService.selectedItem === 4 }"
            (click)="selectItem(4); linkContent()">Privacy policy</span></p>
        </div>
      </div>
      
      <!-- Sign Up Button -->
      <div class="btn-section">
        <button
          class="btn-signUp"
          [disabled]="!isFormValid()"
          [ngClass]="{ 'btn-disabled': !isFormValid() }"
          (click)="onSignUpClick()"
        >
          Sign up
        </button>
      </div>
    </form>
  </div>

  <div class="footer-section">
    <a
      [ngClass]="{ active: navigationService.selectedItem === 4 }"
      (click)="selectItem(4); linkContent()"
      >Privacy Policy</a
    >
    <a
      [ngClass]="{ active: navigationService.selectedItem === 5 }"
      (click)="selectItem(5); linkContent()"
      >Legal Notice</a
    >
  </div>

  @if(showSignUpSuccess) {
    <div class="toast-message">
      <span>You Signed Up successfully</span>
    </div>
  }
</section>
