<section>
  <div class="header-section">
    <img class="logo" src="assets/img/join_logo.svg" alt="Logo" />
  </div>

  <div class="signUp-section">
    <a class="back-btn" (click)="linkLogin()"></a>
    <h1>Sign up</h1>
    <div class="border-blue"></div>
    <form #contactForm="ngForm">
      <div class="signUp-name">
        <input
          type="text"
          id="signUp-name"
          name="name"
          placeholder="Name"
          (focus)="onFocus('name')"
          (blur)="onBlur()"
          [(ngModel)]="name"
          #nameSignUp
        />
        <img src="assets/img/icons/person.svg" />
      </div>
      <div
        class="signUp-email"
        [ngClass]="{ 'input-focused': focusedInput === 'email' }"
        [ngClass]="{ 'input-invalid': !isEmailValid }"
      >
        <input
          type="text"
          id="signUp-email"
          name="email"
          placeholder="Email"
          (focus)="onFocus('email')"
          (blur)="onBlur()"
          [(ngModel)]="email"
          #emailSignUp
        />
        <img src="assets/img/icons/mail.svg" />
      </div>
      <div
        class="signUp-password"
        [ngClass]="{ 'input-focused': focusedInput === 'password' }"
        [ngClass]="{ 'input-invalid': !isPasswordValid }"
      >
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          id="signUp-password"
          name="password"
          placeholder="Password"
          (focus)="onFocus('password')"
          (blur)="onBlur()"
          [(ngModel)]="password"
          #pwSignUp
        />
        <img
          class="lock" 
          src="assets/img/icons/lock_icon.svg"
          [ngClass]="{ d_none: passwordFieldActive }" 
        />
        @if(passwordFieldActive) {
          <img
            class="visibility_off"
            src="assets/img/icons/visibility_off_icon.svg"
            [ngClass]="{ d_none: !passwordFieldActive }"
            [ngClass]="{ d_none: !isVisibility }"
            (click)="toggleVisibility()"
          />
          <img
            class="visibility_off"
            src="assets/img/icons/visibility_icon.svg"
            [ngClass]="{ d_none: !passwordFieldActive }"
            [ngClass]="{ d_none: isVisibility }"
            (click)="toggleVisibility()"
          />
          }
      </div>
      <!-- Check if a login attempt has been made and if the email or password do not match the required patterns -->
      @if(signUpAttempted && (eMailPattern.test(this.email) != true ||
      pwPattern.test(this.password) != true || namePattern.test(this.name)) ) {
      <div class="error-message">
        <p>
          Check your name, email and password! Please try again.<br />(min 6 character
          - min 1 special character, 1 capital letter, 1 number).
        </p>
      </div>
      }
      <div
        class="confirm-password"
        [ngClass]="{ 'input-focused': focusedInput === 'confirm-password' }"
        [ngClass]="{ 'input-invalid': !isPasswordValid }"
      >
        <input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
          id="confirm-password"
          name="confirm-password"
          placeholder="Confirm Password"
          (focus)="onFocus('confirm-password')"
          (blur)="onBlur()"
          [(ngModel)]="confirmPassword"
          #pwConfirmSignUp
        />
        <img
          class="lock"
          src="assets/img/icons/lock_icon.svg"
          [ngClass]="{ d_none: confirmPasswordFieldActive }"
        />
        @if(confirmPasswordFieldActive) {
        <img
          class="visibility_off"
          src="assets/img/icons/visibility_off_icon.svg"
          [ngClass]="{ d_none: !confirmPasswordFieldActive }"
          [ngClass]="{ d_none: !isConfirmVisibility }"
          (click)="toggleConfirmVisibility()"
        />
        <img
          class="visibility_off"
          src="assets/img/icons/visibility_icon.svg"
          [ngClass]="{ d_none: !confirmPasswordFieldActive }"
          [ngClass]="{ d_none: isConfirmVisibility }"
          (click)="toggleConfirmVisibility()"
        />
        }
      </div>
      @if(signUpAttempted && (eMailPattern.test(this.email) != true ||
      pwPattern.test(this.password) != true || namePattern.test(this.name) != true) ) {
      <div class="error-message">
        <p>
          Your passwords don't match. Please try again..
        </p>
      </div>
      }
      <div class="policy-checkbox-container">
        <input type="checkbox" />
        <p>I accept the <span class="join-aqua">Privacy policy</span></p>
      </div>
      <div class="btn-section">
        <button
          class="btn-signUp"
          (click)="onSignUpClick()"
        >
          Sign up
        </button>
      </div>
    </form>
  </div>

  <!--<div class="sign-up">
      
    </div> -->

  <div class="footer-section">
    <a
      [ngClass]="{ active: navigationService.selectedItem === 4 }"
      (click)="selectItem(4)"
      >Privacy Policy</a
    >
    <a
      [ngClass]="{ active: navigationService.selectedItem === 5 }"
      (click)="selectItem(5)"
      >Legal Notice</a
    >
  </div>
</section>
