/* bg color for user profile initials */
$sunset_orange: rgba(255, 122, 0, 1);
$electric_purple: rgba(147, 39, 255, 1);
$lavender_blue: rgba(110, 82, 255, 1);
$fuchsia_pink: rgba(252, 113, 255, 1);
$golden_yellow: rgba(255, 187, 43, 1);
$mint_green: rgba(31, 215, 193, 1);
$deep_blue: rgba(70, 47, 138, 1);
$light_red: rgba(255, 70, 70, 1);
$aqua_blue: rgba(0, 190, 232, 1);

/* color for fonts & bg color buttons */
$white: rgba(255, 255, 255, 1);
$dark_blue: rgba(42, 54, 71, 1);
$light_blue: rgba(41, 171, 226, 1);