<section
  [ngClass]="{ maxWidth: taskService.isEditModeActivated }"
  [ngStyle]="{
    'box-shadow': taskService.isEditModeActivated
      ? '0px 0px 0px 0px rgba(0, 0, 0, 0) inset'
      : '0px 4px 6px 0px rgba(0, 0, 0, 0.1) inset'
  }"
>
  @if(!taskService.isEditModeActivated){
  <div class="head-section">
    <h1>Add Task</h1>
    <img
      class="close-button"
      src="assets/img/icons/close.svg"
      alt="Closing Image"
      [ngClass]="{ show: taskService.showCloseButton }"
      (click)="taskService.toggleCloseButton()"
    />
  </div>
  }

  <form #taskForm="ngForm">
    <div
      class="fill-in-area"
      [ngClass]="{ column: taskService.isEditModeActivated }"
    >
      <div class="content">
        <div class="title_field">
          <label class="title" name="title">Title<span>*</span></label>
          <div>
            <input
              class="input"
              type="text"
              name="title"
              placeholder="Enter a title"
              [class.error]="isFieldInvalid('title')"
              (focus)="clearError('title')"
              [(ngModel)]="inputTitle"              
              required
            />
            @if (isFieldInvalid('title')) {
            <p class="error-message">This field is required</p>
            } @else {
            <p></p>
            }
          </div>
        </div>

        <div class="description_field">
          <label class="description" name="description">Description</label>
          <textarea
            class="input"
            type="text"
            name="description"
            placeholder="Enter a Description"
            [(ngModel)]="inputDescription"
          ></textarea>
        </div>

        <div class="assigned_field">
          <label class="assigned" name="assigned">Assigned to</label>
          <div class="assigned_field_headline" (click)="isSelectList()">
            <p>Select contacts to assign</p>
            <img
              class="arrow_drop_down"
              src="assets/img/icons/arrow_drop_down_icon.svg"
              [ngStyle]="{ display: selectList ? 'none' : 'block' }"
            />
            <img
              class="arrow_drop_up"
              src="assets/img/icons/arrow_drop_up_icon.svg"
              [ngStyle]="{ display: selectList ? 'block' : 'none' }"
            />
          </div>
          <div
            class="contact_list"
            [ngStyle]="{ display: selectList ? 'block' : 'none' }"
          >
            <div class="assigned_field_contact_list">
              @for (group of contactService.getGroupedContacts() | keyvalue;
              track $index) { @for (contact of group.value; track $index) {
              <div
                class="assigned_field_single_contact"
                [class.selected]="isSelected(contact)"
                (click)="toggleContactSelection(contact)"
              >
                <div
                  class="profile_badge"
                  [ngStyle]="{ 'background-color': contact.bgColor }"
                >
                  {{ contact.initials }}
                </div>
                <p>{{ contact.name }}</p>
                <img
                  class="check_button"
                  src="assets/img/icons/check_button_icon.svg"
                />
                <img
                  class="check_button_white"
                  src="assets/img/icons/check_button_icon_white.svg"
                />
              </div>
              } }
            </div>
          </div>
          <div
            class="contact_badge_line"
            [ngStyle]="{ display: selectList ? 'none' : 'flex' }"
          >
            @for (contact of selectedContacts; track $index) {
            <div
              class="profile_badge"
              [ngStyle]="{ 'background-color': contact.bgColor }"
            >
              {{ contact.initials }}
            </div>
            }
          </div>
        </div>
      </div>

      @if(!taskService.isEditModeActivated){
      <div class="line"></div>
      }

      <div class="right">
        <div class="choice">
          <label for="dueDate">Due date<span>*</span></label>
          <div>
            <input
              [(ngModel)]="newDate"
              [class.error]="isFieldInvalid('date') || isPastDate()"
              (focus)="clearError('date')"
              type="date"
              id="dueDate"
              name="dueDate"
              [min]="getCurrentDate()"
              required
            />
            @if (isFieldInvalid('date')) {
            <p class="error-message">This field is required</p>
            }@else if(isPastDate()) {
            <p class="error-message">Date cannot be in the past</p>
            } @else {
            <p></p>
            }
          </div>
        </div>

        <div class="choice">
          <label>Prio</label>
          <div class="btn-section">
            <button
              class="btn-prio"
              type="button"
              (click)="setPriority('Urgent')"
              [class.selectedHigh]="prio === 'Urgent'"
            >
              Urgent
              <div class="arrow-up"></div>
            </button>

            <button
              class="btn-prio"
              type="button"
              (click)="setPriority('Medium')"
              [class.selectedMedium]="prio === 'Medium'"
            >
              Medium
              <div class="equal"></div>
            </button>
            <button
              class="btn-prio"
              type="button"
              (click)="setPriority('Low')"
              [class.selectedLow]="prio === 'Low'"
            >
              Low
              <div class="arrow-down"></div>
            </button>
          </div>
        </div>

        @if(!taskService.isEditModeActivated){
        <div class="choice">
          <label for="taskType">Category<span>*</span></label>
          <div
            class="seemInput"
            (click)="clickCategory()"
            [ngClass]="{ 'error-border': errors.category }"
          >
            @if(selectedCategory == ''){
            <p>Select task category</p>
            } @if(selectedCategory == 'Technical Task'){
            <p>Technical Task</p>
            } @if(selectedCategory == 'User Story'){
            <p>User Story</p>
            }
            <img
              class="arrow_drop_down"
              src="assets/img/icons/arrow_drop_down_icon.svg"
              [ngStyle]="{ display: openCategory ? 'none' : 'block' }"
            />
            <img
              class="arrow_drop_up"
              src="assets/img/icons/arrow_drop_up_icon.svg"
              [ngStyle]="{ display: openCategory ? 'block' : 'none' }"
            />
          </div>
          @if(errors.category) {
          <span class="error-message">Please select a category!</span>
          }

          <div class="categoryContainer">
            <div
              class="categorySelection"
              [ngStyle]="{ display: openCategory ? 'flex' : 'none' }"
            >
              <p
                (click)="toggleCategory('Technical Task'); clickCategory()"
                [class.selected]="isSelectedCategory('Technical Task')"
              >
                Technical Task
              </p>
              <p
                (click)="toggleCategory('User Story'); clickCategory()"
                [class.selected]="isSelectedCategory('User Story')"
              >
                User Story
              </p>
            </div>
          </div>
        </div>
        }

        <div class="choice">
          <label for="subtasks">Subtasks</label>
          <div class="input-container">
            <input
              type="text"
              id="subtasks"
              name="subtasks"
              [(ngModel)]="newSubtask"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="isEditing ? '' : 'Add new subtask'"
              (focus)="startEditing()"
              (keydown.enter)="handleEnter()"
            />

            <div class="button-group">
              @if(!isEditing){
              <button class="btn-subtask" (click)="startEditing()">
                <img
                  class="close_subtask"
                  src="assets/img/icons/add_plus_dark_icon.svg"
                  alt="Ok hook Image"
                />
              </button>
              } @if(isEditing){
              <button class="btn-subtask" (click)="cancelEditing()">
                <img
                  class="close_subtask"
                  src="assets/img/icons/close.svg"
                  alt="Closing Image"
                />
              </button>
              <span>|</span>
              <button class="btn-subtask" (click)="addSubtask()">
                <img
                  class="close_subtask"
                  src="assets/img/icons/check_dark_icon.svg"
                  alt="Ok hook Image"
                />
              </button>
              }
            </div>
          </div>
          <ul class="subtask-list">
            @for(task of subtasks; track $index){
            <li (dblclick)="editSubtask($index)">
              <div class="li-container">
                @if(task.isEditing){
                <input
                  [(ngModel)]="task.text"
                  [ngModelOptions]="{ standalone: true }"
                  class="edit-input"
                />
                <div class="actions">
                  <button class="btn-subtask" (click)="deleteSubtask($index)">
                    <img
                      class="close_subtask"
                      src="assets/img/icons/trash_icon.svg"
                      alt="delete Image"
                    />
                  </button>
                  <span>|</span>
                  <button class="btn-subtask" (click)="saveEdit($index)">
                    <img
                      class="close_subtask"
                      src="assets/img/icons/check_dark_icon.svg"
                      alt="Ok hook Image"
                    />
                  </button>
                </div>
                } @else {
                <span>{{ task.text }}</span>

                <div class="actions">
                  <button class="btn-subtask" (click)="editSubtask($index)">
                    <img
                      class="close_subtask"
                      src="assets/img/icons/edit_dark_icon.svg"
                      alt="check Image"
                    />
                  </button>
                  <span>|</span>
                  <button class="btn-subtask" (click)="deleteSubtask($index)">
                    <img
                      class="close_subtask"
                      src="assets/img/icons/trash_icon.svg"
                      alt="delete Image"
                    />
                  </button>
                </div>
                }
              </div>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>

    @if(!taskService.isEditModeActivated){
    <div class="submit-section">
      <p>
        <span>*</span>
        This field is required
      </p>
      <div class="btn-submit-section">
        @if(taskService.showCloseButton){
        <button
          type="button"
          class="cancel-btn"
          (click)="taskService.toggleCloseButton()"
        >
          Cancel
          <img src="assets/img/icons/cancel.svg" alt="Cancel" />
        </button>
        } @else {
        <button type="button" class="cancel-btn" (click)="clearForm()">
          Clear
          <img src="assets/img/icons/cancel.svg" alt="Cancel" /></button
        >}

        <button type="submit" class="create-btn" (click)="submitAddForm()">
          Create Task <img src="assets/img/icons/check.svg" alt="Check" />
        </button>
      </div>
    </div>
    } @else {
    <button
      type="submit"
      class="create-btn ok-btn"
      (click)="submitUpdateForm()"
    >
      Ok <img src="assets/img/icons/check.svg" alt="ok" />
    </button>
    }
  </form>

  @if(showSuccessMessage){
  <div class="task-toast">
    <span>Task added to board</span>
    <img src="assets/img/icons/board-white.svg" alt="icon" class="toast-icon" />
  </div>
  }
</section>
