@import "./../../../../styles.scss";

section {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 0 70px;
  max-height: calc(100vh - 91px);
  min-height: auto;
  overflow: auto;
}

form {
  @include dFlex($jc: space-between);
  flex-direction: column;
  height: calc(100vh - 91px - 190px); //- 80px
}

.fill-in-area {
  @include dFlex($jc: space-between);
  width: 100%;
}

.head-section {
  @include dFlex($jc: space-between);
  padding-top: 80px;
  padding-bottom: 30px;

  h1 {
    @include font($fs: 61px, $fw: 700);
  }

  .close {
    display: none;
  }
}

/*linkes Div*/
.content {
  @include dFlex($ai: flex-start, $g: 30px);
  flex-direction: column;

  .title_field {
    @include dFlex($ai: flex-start, $g: 10px);
    flex-direction: column;
    width: 440px;

    .title {
      @include font($fs: 20px, $fw: 400);
      color: $dark_blue;
      height: 24px;

      span {
        color: $red;
      }
    }

    .input {
      @include font($fs: 20px, $fw: 400);
      border: 1px solid;
      border-color: $light_gray;
      border-radius: 10px;
      height: 48px;
      width: 100%;
      padding-left: 21px;

      &::placeholder {
        @include font($fs: 20px, $fw: 400);
        color: $light_gray;
      }
    }
  }

  .description_field {
    @include dFlex($ai: flex-start, $g: 10px);
    flex-direction: column;
    width: 440px;

    .description {
      @include font($fs: 20px, $fw: 400);
      color: $dark_blue;
      height: 24px;

      > span {
        color: $red;
      }
    }

    .input {
      @include font($fs: 20px, $fw: 400);
      border: 1px solid;
      border-color: $light_gray;
      border-radius: 10px;
      height: 120px;
      width: 100%;
      padding-top: 18px;
      padding-left: 16px;

      &::placeholder {
        @include font($fs: 20px, $fw: 400);
        color: $light_gray;
      }
    }
  }

  .assigned_field {
    width: 440px;
    height: 300px;
    border-radius: 10px;

    .assigned_field_headline {
      @include dFlex($jc: space-between);
      @include font($fs: 20px, $fw: 400);
      background-color: $white;
      height: 48px;
      width: 100%;
      border: 1px solid;
      border-color: $light_gray;
      border-radius: 10px;
      padding-left: 16px;
      padding-right: 16px;
      cursor: pointer;

      .arrow_drop_down {
        display: block;
      }

      .arrow_drop_up {
        display: none;
      }
    }

    .contact_list {
      background-color: $white;
      display: none;
      position: relative;
      z-index: 3;

      .assigned_field_contact_list {
        position: absolute;
        background-color: $cream-white;
        @include dFlex($jc: flex-start, $ai: flex-start);
        flex-direction: column;
        width: 100%;
        height: calc(318px - 48px);
        border-radius: 10px;
        padding-top: 10px;
        overflow: auto;
  
  
        .assigned_field_single_contact {
          @include dFlex($g: 20px);
          width: 100%;
          padding-left: 16px;
          padding-right: 30px;
          cursor: pointer;
  
          p {
            @include dFlex($jc: flex-start);
            @include font($fs: 20px, $fw: 400);
            height: 56px;
            flex: 1;
          }
  
          &:hover {
            background-color: $hover_gray;
            border-radius: 10px;
          }
  
          .check_button_white {
            display: none;
          }
        }
  
        .selected {
          background-color: $dark_blue;
          border-radius: 10px;
          color: $white;
  
          .check_button_white {
              display: block;
            }
  
          &:hover {
            background-color: $dark_dark_blue;
            border-radius: 10px;
  
            .check_button {
              display: none;
            }
  
            .check_button_white {
              display: block;
            }
          }
        }
      }
    }    

    .contact_badge_line {
      position: relative;
      @include dFlex($jc: flex-start, $g: 5px);
      margin-top: 10px
    }
  }
}

.profile_badge {
  @include dFlex();
  width: 42px;
  height: 42px;
  border: 1px solid;
  border-color: $white;
  border-radius: 50%;
  @include font($fs: 12px, $fw: 400);
  color: $white;
  min-width: 42px;
}

/*Trennlinie*/
.line {
  width: 2px;
  background-color: $light_gray;
  height: 50vh;
  min-height: 300px;
  max-height: 600px;
}

/*Rechtes Div*/
.right {
  @include dFlex($ai: flex-start, $g: 40px);
  flex-direction: column;
  width: 30.5vw;
  max-width: 587px;
  padding-right: 2px;
}

/*Datum*/
#dueDate {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 16px;

  color: $light_gray;
  @include font($fs: 20px, $fw: 400);
  
  padding-right: 16px;
  cursor: pointer;
}

#dueDate::-moz-date-picker-arrow {
  display: none;
}

/* Allgemeine Div mit input und label*/
.choice {
  @include dFlex($ai: flex-start, $g: 10px);
  flex-direction: column;
  width: 100%;

  label {
    font-size: 20px;
    color: $dark_blue;
  }

  span {
    color: $red;
  }

  input {
    border: 1px solid;
    border-color: $light_gray;
    border-radius: 10px;
    height: 48px;
    width: 100%;

    &::placeholder {
      @include font($fs: 20px, $fw: 400);
      color: $light_gray;
      padding-top: 18px;
      padding-left: 16px;
    }
  }
}

/* Prio button*/
.btn-section {
  @include dFlex($jc: space-between);
  width: 100%;
}

.btn-prio {
  @include dFlex($jc: space-between);
  box-sizing: border-box;
  padding: 16px;
  font-size: 21px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: $white;
  box-shadow: 0px 0px 7px 1px rgba($black, 0.1);
}

.arrow-up,
.equal,
.arrow-down {
  width: 20px;
  height: 15px;
  margin-left: 16px;
}

.arrow-up {
  background: url("./../../../../assets/img/icons/arrow_up_red.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.equal {
  background: url("./../../../../assets/img/icons/equal_orange.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-down {
  background: url("./../../../../assets/img/icons/arrow_down_green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selectedHigh {
  background: $special_red;
  color: $white;
  font-weight: 700;

  div {
    background: url("./../../../../assets/img/icons/arrow_up_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    // margin-left: 10px;
  }
}

.selectedMedium {
  background: $darker_orange;
  color: $white;
  font-weight: 700;

  div {
    background: url("./../../../../assets/img/icons/equal_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    // margin-left: 10px;
  }
}

.selectedLow {
  background: $light_green;
  color: $white;
  font-weight: 700;

  div {
    background: url("./../../../../assets/img/icons/arrow_down_white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    // margin-left: 10px;
  }
}

#taskType {
  @include font($fs: 20px, $fw: 400);
  height: 48px;
  width: 100%;
  border: 1px solid;
  border-color: $light_gray;
  border-radius: 10px;
  padding-right: 10px;
  background: $white;
}
/*Subtask*/
.input-container {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 5px;
  border-radius: 5px;
}

.button-group {
  display: flex;
  gap: 5px;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.subtask-list {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: dotted !important;

    span{
      color: black;
      display: inline-block;
    }
    

    padding: 5px;
    cursor: pointer;

    &:hover .actions {
      display: flex;
    }
    
    .actions {
      display: none;
      gap: 5px;

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .edit-input {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 1px;
      border-bottom: 2px solid blue;
      background: $white;
      padding: 3px;
    }
  }
}

ul {
  max-height: 100px;
  height: 100px;
  overflow: auto;
}

/* Submit und Clear oder Cancel Button*/
.submit-section {
  width: 100%;
  @include dFlex($jc: space-between);
  margin-bottom: 70px;

  > p span {
    color: $red;
  }
}
