@import "./../../../../styles.scss";

section {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 0 70px;
  max-height: calc(100vh - 91px);
<<<<<<< HEAD
=======
  min-height: auto;
  overflow: auto;
>>>>>>> bb03e34e6fefa54cbfeb6102ed113623b141ca81
}

form {
  @include dFlex($jc: space-between);
  flex-direction: column;
<<<<<<< HEAD
  height: 60vh;
  //   min-height: 770px;
  overflow: auto;
=======
  height: calc(100vh - 91px - 190px - 80px);

>>>>>>> bb03e34e6fefa54cbfeb6102ed113623b141ca81
}

.fill-in-area {
  @include dFlex($jc: space-between);
  width: 100%;
<<<<<<< HEAD
=======

>>>>>>> bb03e34e6fefa54cbfeb6102ed113623b141ca81
}

.head-section {
  @include dFlex($jc: space-between);
  padding-top: 80px;
  padding-bottom: 30px;

  h1 {
    @include font($fs: 61px, $fw: 700);
  }

  .close {
    display: none;
  }
}

/*linkes Div*/
.content {
  @include dFlex($ai: flex-start, $g: 50px);
  flex-direction: column;

  .title_field {
    @include dFlex($ai: flex-start, $g: 10px);
    flex-direction: column;
    width: 440px;

    .title {
      @include font($fs: 20px, $fw: 400);
      height: 24px;

      span {
        color: $red;
      }
    }

    .input {
      border: 1px solid;
      border-color: $light_gray;
      border-radius: 10px;
      height: 48px;
      width: 100%;

      &::placeholder {
        @include font($fs: 20px, $fw: 400);
        color: $light_gray;
        padding-top: 12px;
        padding-left: 21px;
      }
    }
  }

  .description_field {
    @include dFlex($ai: flex-start, $g: 10px);
    flex-direction: column;
    width: 440px;

    .title {
      @include font($fs: 20px, $fw: 400);
      height: 24px;

      >span {
        color: $red;
      }
    }

    .input {
      border: 1px solid;
      border-color: $light_gray;
      border-radius: 10px;
      height: 120px;
      width: 100%;

      &::placeholder {
        @include font($fs: 20px, $fw: 400);
        color: $light_gray;
        padding-top: 18px;
        padding-left: 16px;
      }
    }
  }

  .assigned_field {
    @include dFlex($ai: flex-start, $g: 10px);
    flex-direction: column;
    width: 440px;
    position: relative;

    #assigned_field {
      @include font($fs: 20px, $fw: 400);
      height: 48px;
      width: 100%;
      border: 1px solid;
      border-color: $light_gray;
      border-radius: 10px;
      padding-left: 16px;
    }
  }
}

/*Trennlinie*/
.line {
  width: 2px;
  background-color: $light_gray;
  height: 50vh;
  min-height: 300px;
  max-height: 600px;
}

/*Rechtes Div*/
.right {
  @include dFlex($ai: flex-start, $g: 40px);
  flex-direction: column;
  width: 30.5vw;
  max-width: 587px;
  padding-right: 2px;
}

/*Datum*/
#dueDate {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 16px;

  color: $light_gray;
  @include font($fs:20px, $fw:400);

  background-image: url("./../../../../assets/img/icons/add_task.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 100px;
  cursor: pointer;
}

#dueDate::-moz-date-picker-arrow {
  display: none;
}

/* Allgemeine Div mit input und label*/
.choice {
  @include dFlex($ai: flex-start, $g: 10px);
  flex-direction: column;
  width: 100%;

  label {
    font-size: 20px;
  }

  span {
    color: $red;
  }

  input {
    border: 1px solid;
    border-color: $light_gray;
    border-radius: 10px;
    height: 48px;
    width: 100%;

    &::placeholder {
      @include font($fs: 20px, $fw: 400);
      color: $light_gray;
      padding-top: 18px;
      padding-left: 16px;
    }
  }
}

/* Prio button*/
.btn-section {
  @include dFlex($jc: space-between);
  width: 100%;

  div {
    width: 20px;
    height: 15px;
  }
}

.btn-prio {
  @include dFlex($jc: space-between);
  box-sizing: border-box;
  padding: 16px;
  font-size: 21px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: $white;
  box-shadow: 0px 0px 7px 1px rgba($black, 0.1);
}

.arrow-up {
}

.equal {
}

.arrow-down {
}

.arrow-up {}

.equal {}

.arrow-down {}

.selectedHigh {
  background: $special_red;
  color: $white;
  font-weight: 700;
}

.selectedMedium {
  background: $darker_orange;
  color: $white;
  font-weight: 700;
}

.selectedLow {
  background: $light_green;
  color: $white;
  font-weight: 700;
}

#taskType {
  @include font($fs: 20px, $fw: 400);
  height: 48px;
  width: 100%;
  border: 1px solid;
  border-color: $light_gray;
  border-radius: 10px;
  padding-right: 10px;
  background: $white;
}

/* Submit und Clear oder Cancel Button*/
.submit-section {  
  width: 100%;
  @include dFlex($jc: space-between);


  >p span{
    color: $red;
  }
}

