<section>
  <div class="head-section">
    <h1>Add Task</h1>
    <img class="close" src="assets/img/icons/close.svg" alt="Closing Image" />
  </div>

  <form>
    <div class="fill-in-area">
      <div class="content">
        <div class="title_field">
          <label class="title" name="title">Title<span>*</span></label>
          <input
            class="input"
            type="text"
            name="input"
            placeholder="Enter a title"
          />
        </div>

        <div class="description_field">
          <label class="description" name="description">Description</label>
          <textarea
            class="input"
            type="text"
            name="input"
            placeholder="Enter a Description"
          ></textarea>
        </div>

        <div class="assigned_field">
          <select name="assigned_field" id="assigned_field">
            <option value="">Select contacts to assign</option>
            <option value="">Anton Mayer</option>
            <option value="">Anja Schulz</option>
            <option value="">Benedikt Ziegler</option>
            <option value="">David Eisenberg</option>
            <option value="">Eva Fischer</option>
            <option value="">Emmanuel Mauer</option>
          </select>
        </div>
      </div>

      <div class="line"></div>

      <div class="right">
        <div class="choice date-input">
          <label for="dueDate">Due date<span>*</span></label>
          <input type="date" id="dueDate" name="dueDate" />
        </div>

        <div class="choice">
          <label>Prio</label>
          <div class="btn-section">
            <button
              class="btn-prio"
              type="button"
              (click)="setPriority('high')"
              [class.selectedHigh]="prio === 'high'"
            >
              Urgent
              <div class="arrow-up"></div>
            </button>

            <button
              class="btn-prio"
              type="button"
              (click)="setPriority('medium')"
              [class.selectedMedium]="prio === 'medium'"
            >
              Medium
              <div class="equal"></div>
            </button>
            <button
              class="btn-prio"
              type="button"
              (click)="setPriority('low')"
              [class.selectedLow]="prio === 'low'"
            >
              Low
              <div class="arrow-down"></div>
            </button>
          </div>
        </div>

        <div class="choice">
          <label for="taskType">Category<span>*</span></label>
          <select id="taskType" name="taskType">
            <option value="userStory">User Story</option>
            <option value="technicalTask">Technical Task</option>
          </select>
        </div>

        <div class="choice">
          <label for="subtasks">Subtasks</label>
          <input type="text" id="subtasks" name="subtasks" />
        </div>
      </div>
    </div>

    <div class="submit-section">
      <p>
        <span>*</span>
        This field is required
      </p>

      <div>
        <!-- <button (click)="test()">TEST</button>
        <button (click)="test()">TEST</button> -->
        
      </div>
    </div>
  </form>
</section>
