@import './../../../../styles.scss';

section {
    @include dFlex($ai: flex-start);
    width: 100%;
    height: 100vh;
}

/* Scrollbar Styling */
.contact-list::-webkit-scrollbar {
    width: 8px;
}

.contact-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.contact-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.contact-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contact-list {
    width: 30%;
    padding-top: 20px;
    background-color: $white;
}

.list {
    @include dFlex();
    flex-direction: column;
    background-color: transparent;
}

.single-contact {
    background-color: transparent;
    @include dFlex($ai: flex-start);
    flex-direction: column;
}

.letter {
    @include font($fs: 20px, $fw: 400);
    width: 352px;
    border-bottom: 1px solid rgba(209, 209, 209, 1);
    border-radius: 3px;
    padding:17px 36px;
}

.single-contact-container {
    cursor: pointer;

    &:hover {
            background-color: $cream-white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
}

.single-contact-content {
    @include dFlex($jc: flex-start, $g: 20px);
    width: 352px;
    padding: 15px 24px;    
}

.profile_badge {
    @include dFlex();
    width: 42px;
    height: 42px;
    border: 1px solid;
    border-radius: 50%;
    @include font($fs: 12px, $fw: 400);
    color: $white;
}

.info {
    @include dFlex($ai: flex-start, $g: 5px);
    flex-direction: column;
    background-color: transparent;
    padding: 8px;
    // cursor: pointer;
    // flex: 1;    

    >p {
        @include font($fs: 20px, $fw: 400);
        background-color: transparent;
    }

    .email {
        color: $blue;
    }
}

button {
    @include dFlex($g: 20px);
    width: 352px;
    height: 56px;
    background-color: $dark_blue;
    color: $white;
    border-radius: 10px;
    cursor: pointer;
}

span {
    @include font($fs: 21px, $fw: 700);
    color: $white;
    background-color: transparent;
}

.person_add_icon {
    background-color: transparent;
}

.contacts {
    width: 70%;
    padding: 20px;
}

.headline {
    @include dFlex($g: 30px);

    h1 {
        @include font($fs: 61px, $fw: 700);
    }

    p {
        @include font($fs: 27px, $fw: 400);
        color: $dark_blue;
    }
}