@import "./../../../../styles.scss";

section {
  @include dFlex($ai: flex-start);
  width: 100%;
  height: calc(100vh - 91px);
  position: relative;
}

.new-contact-mobile-icon {
  display: none;
}

.contact-list {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  padding-top: 10px;
  background-color: $white;

  .list {
    @include dFlex();
    flex-direction: column;
    background-color: transparent;
    position: relative;

    .add-new-contact {
      @include dFlex($g: 20px);
      width: 352px;
      height: 56px;
      background-color: $dark_blue;
      color: $white;
      border-radius: 10px;
      cursor: pointer;
      position: sticky;
      top: 0px;
      z-index: 10;
      border-width: 0px;

      span {
        @include font($fs: 21px, $fw: 700);
        color: $white;
        background-color: transparent;
      }

      .person-add-icon {
        background-color: transparent;
      }

      &:hover {
        background-color: $blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .single-contact {
      background-color: transparent;
      @include dFlex($ai: flex-start);
      flex-direction: column;

      .letter {
        @include font($fs: 20px, $fw: 400);
        width: 352px;
        border-bottom: 1px solid rgba(209, 209, 209, 1);
        border-radius: 3px;
        padding: 17px 36px;
      }

      .single-contact-container {
        cursor: pointer;
        @include dFlex($jc: flex-start, $g: 20px);
        width: 352px;
        padding: 15px 24px;

        .profile-badge {
          @include dFlex();
          width: 42px;
          height: 42px;
          border: 1px solid;
          border-color: $white;
          border-radius: 50%;
          @include font($fs: 12px, $fw: 400);
          color: $white;
          min-width: 42px;
        }

        .info {
          @include dFlex($ai: flex-start, $g: 5px);
          flex-direction: column;
          background-color: transparent;
          padding: 8px;

          > p {
            @include font($fs: 20px, $fw: 400);
            background-color: transparent;
          }

          .email {
            color: $blue;
          }
        }

        &:hover {
          background-color: $cream_white;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }

        &.active {
          background-color: $dark_blue;
          border-radius: 10px;
          color: $white;
        }
      }
    }
  }
}

.isShown {
  z-index: 2;
}

.contacts {
  @include dFlex($jc: flex-start, $g: 50px);
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-top: 80px;
  padding-left: 50px;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1) inset;

  position: relative;
  overflow: auto;

  .headline {
    @include dFlex($jc: flex-start, $g: 30px);
    width: 100%;

    > div {
      h1 {
        @include font($fs: 61px, $fw: 700);
      }

      .arrow-left {
        display: none;
        cursor: pointer;
      }
    }

    > p {
      @include font($fs: 27px, $fw: 400);
      color: $dark_blue;
    }
  }

  .contact-content {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 50px);
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    background-color: transparent;

    .contact-content-head {
      @include dFlex($jc: flex-start, $ai: flex-start, $g: 50px);

      .contact-profile-badge {
        @include dFlex();
        width: 120px;
        height: 120px;
        border: 1px solid;
        border-color: $white;
        border-radius: 50%;
        @include font($fs: 47px, $fw: 500);
        color: $white;
      }

      .contact-name-section {
        @include dFlex($ai: flex-start, $g: 10px);
        flex-direction: column;

        .name {
          @include font($fs: 47px, $fw: 500);
        }

        .editing-section {
          @include dFlex($g: 30px);

          .edit,
          .delete {
            cursor: pointer;
            @include dFlex($g: 10px);
            @include font($fs: 16px, $fw: 400);
            width: 70px;

            .pencil-icon,
            .trash-icon {
              display: block;
            }

            .pencil-icon-hover-blue,
            .trash-icon-hover-blue {
              display: none;
            }

            &:hover {
              color: $light_blue;
              @include font($fs: 16px, $fw: 700);

              .pencil-icon,
              .trash-icon {
                display: none;
              }

              .pencil-icon-hover-blue,
              .trash-icon-hover-blue {
                display: block;
              }
            }
          }
        }
      }
    }

    .contact-detail-section {
      @include dFlex($ai: flex-start, $g: 50px);
      flex-direction: column;

      .information-headline {
        @include font($fs: 20px, $fw: 400);
      }

      .information {
        @include dFlex($ai: flex-start, $g: 15px);
        flex-direction: column;

        .email-headline,
        .phone-headline {
          @include font($fs: 16px, $fw: 700);
        }

        .email {
          @include font($fs: 16px, $fw: 400);
          color: $blue;
        }

        .phone {
          @include font($fs: 16px, $fw: 400);
        }
      }
    }
  }

  .show {
    animation: slide-right 125ms ease-in;
  }

  /* animation slide-right*/
  @keyframes slide-right {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

/*--------------------------------------------------   Mobile   --------------------------------------------------*/
@media (max-width: 1500px) {
  .contact-list {
    width: 35%;
  }

  .contacts {
    width: 65%;
  }
}

@media (max-width: 1300px) {
  .contact-list {
    width: 40%;
  }

  .contacts {
    width: 60%;

    .headline {
      h1 {
        @include font($fs: 47px, $fw: 700);
      }

      p {
        @include font($fs: 20px, $fw: 400);
      }
    }

    .contact-content {
      @include dFlex($jc: flex-start, $ai: flex-start, $g: 50px);
      flex-direction: column;
      width: 100%;
      min-height: 500px;
      background-color: transparent;

      .contact-content-head {
        @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px);

        .contact-profile-badge {
          @include dFlex();
          width: 80px;
          height: 80px;
          @include font($fs: 27px, $fw: 400);
        }

        .contact-name-section {
          .name {
            @include font($fs: 36px, $fw: 700);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .contact-list {
    width: 40%;

    .list {
      width: 100%;

      .add-new-contact {
        width: 90%;
      }

      .single-contact {
        width: 90%;

        .letter {
          width: 100%;
        }

        .single-contact-container {
          width: 100%;
        }
      }
    }
  }

  .contacts {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .contact-list {
    width: 45%;
  }

  .contacts {
    width: 55%;
  }
}

@media (max-width: 1024px) {
  section {
    @include dFlex($ai: flex-start);
    width: 100%;
    height: calc(100vh - (91px + 80px));
    position: relative;
  }

  .contact-list {
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .contacts {
    width: 100%;
    @include dFlex($jc: flex-start, $g: 50px);
    position: absolute;
    background-color: $cream_white;

    .headline {
      @include dFlex($jc: flex-start, $ai: flex-start, $g: 10px);
      flex-direction: column;

      > div {
        @include dFlex($jc: space-between);
        width: 100%;
        padding-right: 50px;

        .arrow-left {
          display: block;
        }
      }

      .border-blue {
        width: 90px;
        border: 3px solid;
        border-color: $light_blue;
      }

      > img {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .new-contact-mobile-icon {
    cursor: pointer;
    @include dFlex();
    border: 1px solid;
    border-color: $dark_blue;
    border-radius: 50%;
    background-color: $dark_blue;
    height: 56px;
    width: 56px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;

    &:hover {
      background-color: $light_blue;
      border-color: $light_blue;
    }
  }

  .parent-overlay-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;

    background-color: transparent;
    border: 1px solid;

    .overlay {
      @include dFlex($g: 20px);
      flex-direction: column;
      position: fixed;
      bottom: 90px;
      right: 5px;
      width: 116px;
      height: 100px;
      background-color: $white;
      z-index: 100;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      animation: slide-right 125ms ease-in-out;
    }

    /* animation slide-right*/
    @keyframes slide-right {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(0%);
      }
    }

    .overlay-content {
      @include dFlex($ai: flex-start, $g: 10px);
      flex-direction: column;

      div {
        cursor: pointer;
        @include dFlex($g: 10px);

        p {
          @include font($fs: 16px, $fw: 400);
        }

        img {
          width: 24px;
          margin-right: 10px;
        }
      }
    }
  }

  .contact-list {
    .list {
      .add-new-contact {
        display: none;
      }

      .single-contact {
        .single-contact-container {
          .info {
            > p {
              @include font($fs: 16px, $fw: 400);
              background-color: transparent;
            }

            .email {
              @include font($fs: 16px, $fw: 400);
            }
          }
        }
      }
    }
  }

  .contacts {
    padding-left: 20px;

    .headline {
      > div {
        padding-right: 20px;

        h1 {
          @include font($fs: 47px, $fw: 700);
        }
      }

      .border-blue {
        width: 90px;
        border: 3px solid;
        border-color: $light_blue;
      }

      > img {
        display: none;
      }
    }

    .contact-content {
      .contact-content-head {
        @include dFlex($ai: center, $g: 20px);

        .contact-profile-badge {
          @include dFlex();
          width: 60px;
          height: 60px;
          @include font($fs: 20px, $fw: 400);
        }

        .contact-name-section {
          .name {
            @include font($fs: 24px, $fw: 700);
          }

          .editing-section {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .contact-list {
    .list {
      .single-contact {
        .single-contact-container {
          @include dFlex($jc: flex-start, $g: 10px);
        }
      }
    }
  }
}

.success-message {
  position: fixed;
  bottom: 250px;
  right: 40%;
  background-color: $dark_blue;
  color: $white;
  padding: 24px 24px;
  border-radius: 24px;
  font-size: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 30;
  opacity: 0;
  transform: translateX(150%);
  animation: slide-in 0.125s ease-in forwards,
    slide-out 0.125s ease-out 1.5s forwards;

  @media (max-width: 768px) {
    right: 25%;
  }

  @media (max-width: 480px) {
    font-size: 16px;
    right: 15%;
  }

  @media (max-width: 375px) {
    right: 10%;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(250%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(250%);
    opacity: 0;
  }
}
