<section class="content_max">
  @if(!contactService.selectedContact) {
  <div class="new-contact-mobile-icon" (click)="openOverlay('add')">
    <img src="assets/img/icons/person_add_icon.svg" alt="" />
  </div>
  } @if(contactService.selectedContact) {
  <div
    class="new-contact-mobile-icon"
    (click)="openOverlayEditContactMobile('edit')"
  >
    <img src="assets/img/icons/edit_vert_icon.svg" alt="" />
  </div>
  }

  <!-- Overlay für Editieren und Löschen von Kontakt -->
  @if(isOverlayVisible) {
  <div class="parent-overlay-container" (click)="closeOverlay()">
    <div class="overlay">
      <div class="overlay-content" (click)="$event.stopPropagation()">
        <div (click)="openOverlay('edit')">
          <img class="pencil-icon" src="assets/img/icons/pencil_icon.svg" />
          <p>Edit</p>
        </div>

        <div (click)="deleteContact(); mobileDisplay()">
          <img class="trash-icon" src="assets/img/icons/trash_icon.svg" />
          <p>Delete</p>
        </div>
      </div>
    </div>
  </div>
  }
  <div class="contact-list">
    <div class="list">
      <button class="add-new-contact" (click)="openOverlay('add')">
        <span>Add new Contact</span>
        <img
          class="person-add-icon"
          src="assets/img/icons/person_add_icon.svg"
          alt=""
        />
      </button>
      @for (group of contactService.getGroupedContacts() | keyvalue; track $index) {
      <div class="single-contact">
        <div class="letter">
          {{ group.key }}
        </div>
        @for (contact of group.value; track $index) {
        <div
          class="single-contact-container"
          (click)="selectContact(contact); mobileDisplay()"
          [class.active]="contactService.selectedContact?.id === contact.id"
        >
          <div
            class="profile-badge"
            [ngStyle]="{ 'background-color': contact.bgColor}"          >
            {{ contact.initials }}
          </div>
          <div class="info">
            <p class="name">{{ contact.name }}</p>
            <a class="email">{{ contact.email }}</a>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
  <div class="contacts" [class.isShown]="isShown">
    <div class="headline">
      <div>
        <h1>Contacts</h1>
        @if(contactService.selectedContact) {
        <img
          class="arrow-left"
          src="assets/img/icons/arrow_left.svg"
          (click)="
            selectContact(contactService.selectedContact); mobileDisplay()
          "
        />
        }
      </div>
      <img src="assets/img/icons/or_icon.svg" />
      <p>Better with a team</p>
      <div class="border-blue"></div>
    </div>
    @if(contactService.selectedContact) {    
    <div class="contact-content" [ngClass]="{ show: showContactContent }">
      <div class="contact-content-head">
        <div
          class="contact-profile-badge"
          [ngStyle]="{
            'background-color': contactService.selectedContact.bgColor}"
        >
          {{ contactService.selectedContact.initials }}
        </div>
        <div class="contact-name-section">
          <p class="name">{{ contactService.selectedContact.name }}</p>
          <div class="editing-section">
            <div (click)="openOverlay('edit')" class="edit">
              <img class="pencil-icon" src="assets/img/icons/pencil_icon.svg" />
              <img
                class="pencil-icon-hover-blue"
                src="assets/img/icons/pencil_icon_hover_blue.svg"
              />
              <p>Edit</p>
            </div>
            <div (click)="deleteContact(); mobileDisplay()" class="delete">
              <img class="trash-icon" src="assets/img/icons/trash_icon.svg" />
              <img
                class="trash-icon-hover-blue"
                src="assets/img/icons/trash_icon_hover_blue.svg"
              />
              <p>Delete</p>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-detail-section">
        <p class="information-headline">Contact Information</p>
        <div class="information">
          <p class="email-headline">Email</p>
          <p class="email">{{ contactService.selectedContact.email }}</p>
          <p class="phone-headline">Phone</p>
          <p class="phone">{{ contactService.selectedContact.phone }}</p>
        </div>
      </div>
    </div>
    }
  </div>

  @if (showSuccessMessage) {
  <div class="success-message">Contact successfully created</div>
  }
</section>

<app-overlay></app-overlay>
