@import "./../../../styles.scss";

section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

div {
  width: 100%;
  flex: 1;
}

app-summary,
app-add-task,
app-board,
app-contacts,
app-policy,
app-imprint,
app-help {
  display: none;
  max-width: calc(1920px - 230px);
}

app-policy,
app-imprint,
app-help {
  max-height: calc(100vh - 91px);
  overflow-y: auto;
}

.active {
  display: block;
}

@media (max-width: 1024px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-height: calc(100vh - 91px - 80px);
  }

  app-policy,
  app-imprint,
  app-help {
    max-height: calc(100vh - 91px - 80px);
  }
}
