<section>
  <div>
    <app-header></app-header>
    @if(authService.isUserLoggedIn){
    <app-summary
      id="summary-section"
      [ngClass]="{ active: navigationService.selectedItem === 0 }"
    ></app-summary>
    <app-add-task
      id="add-task-section"
      [ngClass]="{ active: navigationService.selectedItem === 1 }"
    ></app-add-task>
    <app-board
      id="board-section"
      [ngClass]="{ active: navigationService.selectedItem === 2 }"
    ></app-board>
    <app-contacts
      id="contacts-section"
      [ngClass]="{ active: navigationService.selectedItem === 3 }"
    ></app-contacts>
    }
    <app-policy
      id="policy-section"
      [ngClass]="{ active: navigationService.selectedItem === 4 }"
    >
    </app-policy>

    <app-imprint
      id="imprint-section"
      [ngClass]="{ active: navigationService.selectedItem === 5 }"
    >
    </app-imprint>
    @if(authService.isUserLoggedIn){
    <app-help
      id="help-section"
      [ngClass]="{ active: navigationService.selectedItem === 6 }"
    >
    </app-help>
    }
  </div>

  <app-footer></app-footer>
</section>
