@import "./../../../styles.scss";

section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

div {
  width: 100%;
}

app-summary,
app-add-task,
app-board,
app-contacts,
app-policy,
app-imprint {
  display: none;
}

.active {
  display: block;
}


@media (max-width: 1000px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


}