<section [ngClass]="{ 'page-loaded': isPageLoaded }">
  <img
    class="animated-logo"
    [ngClass]="{ 'logo-final-position': isLogoShifted }"
    src="assets/img/join_logo.svg"
    alt="Logo"
  />

  <!-- <div class="header-section"></div> -->

  <div class="login-section">
    <h1>Log in</h1>
    <div class="border-blue"></div>
    <form #contactForm="ngForm" >
      <div class="input-email">
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          #emailLogin
        />
        <img src="assets/img/icons/mail.svg" />
      </div>
      <div class="input-password">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          name="password"
          placeholder="Password"
          pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^\w]).{8,20}$"
          (focus)="onFocus()"
          #pwLogin
        />
        <img
          class="lock"
          src="assets/img/icons/lock_icon.svg"
          [ngClass]="{ d_none: passwordFieldActive }"
        />
        @if(passwordFieldActive) {
          <img
            class="visibility_off"
            src="assets/img/icons/visibility_off_icon.svg"
            [ngClass]="{ d_none: !passwordFieldActive }"
            [ngClass]="{ d_none: !isVisibility }"
            (click)="toggleVisibility()"
          />
          <img
            class="visibility_off"
            src="assets/img/icons/visibility_icon.svg"
            [ngClass]="{ d_none: !passwordFieldActive }"
            [ngClass]="{ d_none: isVisibility }"
            (click)="toggleVisibility()"
          />
        }
      </div>
      <div class="btn-section">
        <button
          class="btn-login"
          (click)="authService.login(emailLogin.value, pwLogin.value)"
        >
          Log in
        </button>
        <button class="btn-guest-login">Guest Log in</button>
      </div>
    </form>
  </div>

  <div class="sign-up">
    <p>Not a Join user?</p>
    <button (click)="authService.login(emailLogin.value, pwLogin.value)">
      Sign up
    </button>
  </div>

  <div class="footer-section">
    <a
      [ngClass]="{ active: navigationService.selectedItem === 4 }"
      (click)="selectItem(4)"
      >Privacy Policy</a
    >
    <a
      [ngClass]="{ active: navigationService.selectedItem === 5 }"
      (click)="selectItem(5)"
      >Legal Notice</a
    >
  </div>
</section>
