<section>
  <h1>Privacy Policy</h1>

  <div class="text-section">
    <h2>Allgemeine Hinweise</h2>
    <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.</p>
  </div>

  <div class="text-section">
    <h2>Datenschutz</h2>
    <p><i>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten NICHT sehr ernst.</i></p>
  </div>
</section>