<section>
  <div class="headline">
    <h1>Join 360</h1>
    <div class="border-blue horizontal"></div>
    <p>Key Metrics at a Glance</p>
    <div class="border-blue vertical"></div>
  </div>
  <div class="content">
    <div class="left">
      <div class="box">
        <div>ICON</div>
        <div class="among-each-other">
          {{ taskService.todoList.length }} <span>To-do</span>
        </div>
      </div>
      <div class="box">
        <div>ICON</div>
        <div class="among-each-other">
          {{ taskService.doneList.length }} <span>Done</span>
        </div>
      </div>
      <div class="box">
        <div>ICON</div>
        <div class="among-each-other">
          {{ taskService.todoList.length }} <span>Urgent</span>
        </div>
      </div>
      <div class="box">        
        <div class="among-each-other">
          {{
            taskService.todoList.length +
              taskService.progressList.length +
              taskService.feedbackList.length
          }}
          <span>Tasks in Board</span>
        </div>
      </div>
      <div class="box">        
        <div class="among-each-other">
          {{ taskService.progressList.length }} <span>Tasks In Progress</span>
        </div>
      </div>
      <div class="box">        
        <div class="among-each-other">
          {{ taskService.feedbackList.length }} <span>Awaiting Feedback</span>
        </div>
      </div>
    </div>
    <div class="right">
      <span>Guten Tag</span>
    </div>
  </div>
</section>
