<section  class="content_max">
  <div class="headline">
    <h1>Join 360</h1>
    <div class="border-blue horizontal"></div>
    <p>Key Metrics at a Glance</p>
    <div class="border-blue vertical"></div>
  </div>
  <div class="content">
    <div class="left">
      <div class="box" (click)="this.navigationService.setSelectedItem(2)">
        <div class="circle dark-bg"><div class="pencil"></div></div>
        <div class="among-each-other">
          {{ taskService.todoList.length }} <span>To-do</span>
        </div>
      </div>
      <div class="box" (click)="this.navigationService.setSelectedItem(2)">
        <div class="circle dark-bg"><div class="checkmark"></div></div>
        <div class="among-each-other">
          {{ taskService.doneList.length }} <span>Done</span>
        </div>
      </div>
      <div
        class="box middle"
        (click)="this.navigationService.setSelectedItem(2)"
      >
        <div class="urgent">
          <div class="circle red-bg"><div class="arrow-up"></div></div>
          <div class="among-each-other">
            {{ countUrgentTasks() }} <span>Urgent</span>
          </div>
        </div>
        <div class="border-grey"></div>
        <div class="among-each-other-dealine">
          {{ dateDeadline | date : "EE, dd. MMM yyyy" }}
          <span>Upcoming Deadline</span>
        </div>
      </div>
      <div class="box" (click)="this.navigationService.setSelectedItem(2)">
        <div class="among-each-other">
          {{
            taskService.todoList.length +
              taskService.progressList.length +
              taskService.feedbackList.length
          }}
          <span>Tasks in Board</span>
        </div>
      </div>
      <div class="box" (click)="this.navigationService.setSelectedItem(2)">
        <div class="among-each-other">
          {{ taskService.progressList.length }} <span>Tasks In Progress</span>
        </div>
      </div>
      <div class="box" (click)="this.navigationService.setSelectedItem(2)">
        <div class="among-each-other">
          {{ taskService.feedbackList.length }} <span>Awaiting Feedback</span>
        </div>
      </div>
    </div>
    <div
      class="right"
      [class.fade-out]="!navigationService.isAnimationSummarydone"
      (animationend)="navigationService.onAnimationEnd()"
    >
      @if(authService.name && authService.name !== 'Guest'){
      <span class="greeting">{{ getGreeting() }},</span>
      <span class="greetingName">{{ authService.name }}</span>
      } @else {
      <span class="greeting">{{ getGreeting() }}!</span>
      }
    </div>
  </div>
</section>
