/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.scss";
@import "./styles/mixins.scss";

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Für Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: $gray $cream_white;
  }
}

/* Für Chrome, Edge, Safari (alle WebKit/Chromium-Browser) */
@supports (-webkit-appearance: none) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
    margin-top: 20px;    // Oben Abstand lassen
    margin-bottom: 20px; // Unten Abstand lassen
  }

  ::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 4px;
  }
}


body {
  color: $black;
  background-color: $cream-white;
}

.content_max {
  max-width: 1920px;
  // margin-left: auto;
  // margin-right: auto;
}

a {
  cursor: pointer;
}

.d_none {
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-message {
  @include font($fs: 10px, $fw: 400);
  color: $red;
}
