<div class="dialog-container" [ngClass]="{ show: isOpen }">
  <div class="dialog-left">
    <button class="close-btn-mobile" (click)="closeOverlay()">
      <img src="assets/img/icons/close_icon_white.svg" alt="Close" />
    </button>
    <img
      src="assets/img/icons/small-contact-logo.svg"
      alt="Join Logo"
      class="logo"
    />
    <h2>Add contact</h2>
    <p>Tasks are better with a team!</p>
    <div class="divider"></div>
  </div>

  <div class="dialog-right">
    <button class="close-btn" (click)="closeOverlay()">
      <img src="assets/img/icons/close.svg" alt="Close" />
    </button>
    <div class="profile-pic">
      <img src="assets/img/icons/user-profile-image.svg" alt="User Profile" />
    </div>
    <div class="form-container">
      <form #contactForm="ngForm">
        <div class="input-group">
          <input [(ngModel)]="name" name="name" type="text" placeholder="Name" class="input-field" />
          <img
            src="assets/img/icons/person.svg"
            class="input-icon"
            alt="Name Icon"
          />
        </div>
        <div class="input-group">
          <input [(ngModel)]="email" name="email" type="email" placeholder="Email" class="input-field" />
          <img
            src="assets/img/icons/mail.svg"
            class="input-icon"
            alt="Email Icon"
          />
        </div>
        <div class="input-group">
          <input [(ngModel)]="phone" name="phone" type="tel" placeholder="Phone" class="input-field" />
          <img
            src="assets/img/icons/call.svg"
            class="input-icon"
            alt="Phone Icon"
          />
        </div>
        <div class="button-group">
          <button type="button" class="cancel-btn" (click)="closeOverlay()">
            Cancel <img src="assets/img/icons/cancel.svg" alt="Cancel" />
          </button>
          <button type="submit" class="create-btn" (click)="addContactList()">
            Create contact <img src="assets/img/icons/check.svg" alt="Check" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
