<div
  class="backdrop"
  [ngClass]="{ show: isOpen, hide: isClosing }"
  (click)="closeOverlay()"
></div>
<div class="dialog-container" [ngClass]="{ show: isOpen, hide: isClosing }">
  <div class="dialog-left">
    <button class="close-btn-mobile" (click)="closeOverlay()">
      <img src="assets/img/icons/close_icon_white.svg" alt="Close" />
    </button>
    <img
      src="assets/img/icons/small-contact-logo.svg"
      alt="Join Logo"
      class="logo"
    />
    @if(contactService.isEdit){
    <h2>Edit contact</h2>
    } @else {
    <h2>Add contact</h2>
    <p>Tasks are better with a team!</p>
    }
    <div class="divider"></div>
  </div>

  <div class="dialog-right">
    
      <button class="close-btn" (click)="closeOverlay()">
        <img src="assets/img/icons/close.svg" alt="Close" />
      </button>
   
    
      
    <div class="profile-pic">
      @if(contactService.isEdit){
      <div class="initials" 
      [ngStyle]="{
        'background-color': contactService.getBadgeColor(
          getIndexInFullList(contactService.selectedContact)
        )
      }"
      >{{ contactService.getInitials(contactService.selectedContact?.name) }}</div>
      } @else {
        <img
        src="assets/img/icons/user-profile-image.svg"
        alt="User Profile"
      />}
    </div>
    <div class="form-container">
      <form #contactForm="ngForm">
        <div class="input-group">
          <input
            [(ngModel)]="name"
            name="name"
            type="text"
            placeholder="Name"
            class="input-field"
            
            #nameField="ngModel"
            required
            pattern="[a-zA-ZäüößÄÜÖ\s]{3,}"
          />
          <img
            src="assets/img/icons/person.svg"
            class="input-icon"
            alt="Name Icon"
          />
        </div>
        @if ((nameField.invalid && nameField.touched) || isValidName) {
        <p class="error-message">Please use at least 3 letters!</p>
        } @else {
        <p></p>
        }

        <div class="input-group">
          <input
            [(ngModel)]="email"
            name="email"
            type="email"
            placeholder="Email"
            class="input-field"
            
            #emailField="ngModel"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          />
          <img
            src="assets/img/icons/mail.svg"
            class="input-icon"
            alt="Email Icon"
          />
        </div>
        @if ((emailField.invalid && emailField.touched) || isValidEmail) {
        <p class="error-message">Please use a valid email!</p>
        } @else {
        <p></p>
        }

        <div class="input-group">
          <input
            [(ngModel)]="phone"
            name="phone"
            type="tel"
            placeholder="Phone"
            class="input-field"
            
            #phoneField="ngModel"
            required
           pattern="^(\+|0|00)[1-9\s][0-9\s]{5,16}$"
          />
          <img
            src="assets/img/icons/call.svg"
            class="input-icon"
            alt="Phone Icon"
          />
        </div>
        @if ((phoneField.invalid && phoneField.touched) || isValidPhone) {
        <p class="error-message">Please use + or 0 at the beginning and 5-18 numbers! (Spaces are included)</p>
        } @else {
        <p></p>
        }

        <div class="button-group">
          @if(contactService.isEdit){
          <button
            type="button"
            class="cancel-btn"
            (click)="deleteItem(contactService.selectedContact?.id); closeOverlay()"
          >
            Delete
          </button>
          <button
          [disabled]="contactForm.invalid"
            type="submit"
            class="create-btn"
            (click)="updateItem(contactService.selectedContact?.id); closeOverlay()"
          >
            Save
            <img src="assets/img/icons/check.svg" alt="Check" />
          </button>
          } @else {
          <button type="button" class="cancel-btn" (click)="closeOverlay()"
          >
            Cancel 
            <img src="assets/img/icons/cancel.svg" alt="Cancel" />
          </button>
          <button [disabled]="contactForm.invalid" type="submit" class="create-btn" (click)="addContactList()">
            Create contact <img src="assets/img/icons/check.svg" alt="Check" />
          </button>
          }
        </div>
      </form>
    </div>
  </div>
</div>
