<footer  class="content_max">
  <div class="logo-img"></div>
  <nav>
    <ul>
      @if(authService.isUserLoggedIn){
      <li
        [ngClass]="{ active: navigationService.selectedItem === 0 }"
        (click)="selectItem(0)"
      >
        <a
          ><div class="icon-section summary"></div>
          Summary</a
        >
      </li>
      <li
        [ngClass]="{ active: navigationService.selectedItem === 1 }"
        (click)="selectItem(1)"
      >
        <a
          ><div class="icon-section add-task"></div>
          Add Task</a
        >
      </li>
      <li
        [ngClass]="{ active: navigationService.selectedItem === 2 }"
        (click)="selectItem(2)"
      >
        <a
          ><div class="icon-section board"></div>
          Board</a
        >
      </li>
      <li
        [ngClass]="{ active: navigationService.selectedItem === 3 }"
        (click)="selectItem(3)"
      >
        <a
          ><div class="icon-section contact"></div>
          Contacts</a
        >
      </li>
      } @else{
      <li (click)="linkLogin()">
        <a
          ><div class="icon-section login"></div>
          Log In</a
        >
      </li>
      }
    </ul>
  </nav>

  <div class="notes">
    <a
      [ngClass]="{ active: navigationService.selectedItem === 4 }"
      (click)="selectItem(4)"
      >Privacy Policy</a
    >
    <a
      [ngClass]="{ active: navigationService.selectedItem === 5 }"
      (click)="selectItem(5)"
      >Legal notice</a
    >
  </div>
</footer>
